{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}
<div class="container-fluid px-0">

    <img src="/static/img/about.jpg" class="d-block w-100 mx-0" alt="..." height=600px width=10px>
</div>
<div class="container">

    <h1 class="text-center my-3 display-2">
        <b>About Us</b>
    </h1>
  <div class="text-center">
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.
  </p>
  </div>
</div>


{% endblock body %}